.git
.github
.idea
.vscode
.env
.env.*
!.env.example
node_modules
.pnpm-store
vendor
public/build
public/hot
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
npm-debug.log
pnpm-debug.log
